.PlayerBox {
	display: flex;
	align-items: center;
}

.PlayerBox__Background {
	border-radius: 0.25rem;
	margin: 2px 2px;
	padding: 2px;
	background-color: lightgrey;
}

.PlayerBox__Number {
	border: 1px;
	border-color: transparent;
	border-style: solid;
	display: flex;
	min-width: 2rem;
	align-items: center;
	justify-content: center;
}

.PlayerBox__Name {
	border: 1px;
	border-color: transparent;
	border-style: solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.PlayerBox span {
	margin: 0 0.25rem
}

.PlayerBox__ButtonsContainer {
	display: flex;
	justify-content:flex-end;
	align-items:center;
	flex-direction: row;
	margin: 0 0.5rem;
	background-color: inherit;
}
  
.PlayerBox__Swap {
	filter: brightness(1.05);
	border: 1px;
	border-color: red;
	border-style: solid;
}

.PlayerBox__Button {
	display: flex;
	border-radius: 25%;
	margin: 0;
	padding: 0;
	align-items: center;
	background-color: inherit;
	border: none;
}
  
@media (hover: hover) {
	.PlayerBox__Button:hover {
		filter: brightness(0.95);
	}
}
  
.PlayerBox__Button:active {
	filter: brightness(0.9);
}

.PlayerBox__Button svg {
	width: 20px;
	height: 20px;
}