html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	}

:root {
	--text-color: black;
}

.App {
	margin: 1rem;
}

h3 {
	margin: 0.25rem 0rem;
	/* font-size:1.5em; */
}

.SectionContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	border: 1px;
	border-style: solid;
	border-color: transparent;
}

.Section {
	/* background-color: #EEEEEE; */
	margin: 1rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	/* border: 1px;
	border-style: solid;
	border-color: black; */
}

.PlayersList {
	flex-direction: column;
}